body {
  margin: 0;
  padding: 0;
  padding-bottom: 128px;
  /* color: #3372B1; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.jumbotron {
  margin-bottom: 0px;
}
.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
}

.bg-light {
  background: radial-gradient(circle,  #1572B6 0%, #31dfb3 100%);
  opacity: 0.8;
}
.tagline-container {
  width: 150px;
}
/* .hover-uppercase:hover {
  text-transform: uppercase;
  color: white;
} */
.image-card {
  background: linear-gradient(rgb(0,0,0, 0.5), rgb(51,120,127, 0.5));
}
.image-card:hover {
  background: linear-gradient(rgb(0,0,0, 0.6), rgba(209,75,99, 0.9));
  transform: scale(1.1)
}
.footer {
  position: absolute;
  bottom: 0;
  height: 128px;
  width: 100%;
  margin: 0 auto;
  background: black;
  color: white;
  padding: 1rem 2rem;
}