body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.jumbotron {
  margin-bottom: 0px;
}
.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
}

.bg-light {
  background: radial-gradient(circle,  #e26f93 0%, #f15887 100%);
  opacity: 0.5;
}
.container-fluid {
  width: 150px;
}